[user]
  name = Kazuhiro MUSASHI
  email = simoom634@yahoo.co.jp

[color]
  # colorの設定(以下のコマンドは自動で色つける)
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
  editor = /usr/bin/vim

[alias]
  # log関連
  logg = log --stat --pretty=format:'%C(yellow)%h %Cgreen%ar %C(cyan)%an %Creset%s %Cred%d' -n 7

  # log + graph
  graph = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'

  # status - shorter version
  s = status -s -b

  # status
  st = status

  # diff
  d = diff
  dc = diff --cached

  # checkout
  co = checkout

  # commit
  c = commit

  # init, add, and commit
  prep = !git init && git add . && git commit -m \"initial commit\"

  # add
  a = !git add . && git status
  au = !git add -u && git status

  # alias
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort

  # tags
  # http://qiita.com/items/2b9d9560381bbe316818
  tags = for-each-ref --sort=-taggerdate --format='%(taggerdate:short) %(tag) %(taggername) %(subject)' refs/tags

[github]
  user = kazu634
  token = bbc50deba1575e9fa6ebfd15c8cbffeb

[merge]
  # from 1.7.6
  ff = false

[pull]
  # from 1.7.9
  rebase = true

[redmine]
  url = http://redmine.kazu634.com
  apikey = 0ef327825035b0c8d0405d46bcb3f114f7818ff1
